.PostAuthor,
.PostBody {
    font-size: 12px;
    line-height: 16px;
    color: #404040;   
}

.PostTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #404040;    
}
