.AddAlbum {
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    color: #AFAFAF;
}

.AddAlbumWrapper span {
    font-size: 40px;
    color: #AFAFAF;
    text-align: center;
    font-weight: 400;
    line-height: 40px;
    margin-right: 13px;
}

.AddAlbumWrapper {  
    border: 2px dashed #DBDBDB;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center;
}