.FeedPage {
    padding: 40px 50px;
    min-width: 1240px;
}

.TabsWrapper {
    display: flex;
    flex-direction: row;
}

.AlbumsAndPostsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 33px;
}